<div class="place-img">
{{#if photo}}
    <img src="{{photo}}" alt="{{place.attributes.long_name}}">
{{/if}}
<div class="place-info">
     <ul>
        <li>Name: <span>{{place.attributes.long_name}}</span> </li>
        <li>Destination type: <span>{{place.attributes.destination_type}}</span> </li>
        <li>Population: <span>{{place.attributes.population}}</span> </li>
        <li>Average_rating: <span>{{place.attributes.average_rating}}</span> </li>
    {{#each place.attributes.alternate_names}}
    <ul>
        <li>Alternate Names: <span>{{this}}</span> </li>
    </ul>
    {{/each}}
    </ul>
  <div class="button-info">
      <form action="/create/{{place.id}}/toVisit" method="POST">
        <button type="submit">To Visit</button>
    </form>
    <form action="/create/{{place.id}}/alreadyVisited" method="POST">
        <button type="submit">Already Visited</button>
    </form>
  </div>  
</div>
</div>

