<p>To Visit places</p>
    {{#each toVisitPlaces}}
    {{#if this.photo}}
    <img id="to-visit-img" src="{{this.photo}}" alt="{{this.name}}">
    {{/if}}
    <ul>
        <li>Name:{{this.name}}</li>
        <li>Destination type:{{this.destinationType}}</li>
        <li>Population:{{this.population}}</li>
        <li>Average_rating:{{this.averageRating}}</li>
        {{#each this.alternateNames}}
        <ul>
            <li>Alternate Names:{{this}}</li>
        </ul>
        {{/each}}
    </ul>
    <form action="/delete/{{this.id}}/toVisit" method="POST">
        <button type="submit" >Delete place</button>
    </form>
    {{/each}}


