<p class="title-profile-pages" >Places to visit</p>
<div class="row container">
    {{#each toVisitPlaces}} 
    <div class="card border-none container" style="width: 25rem;">
            {{#if this.photo}}
        <img class="card-img-top card-img" src="{{this.photo}}" alt="{{this.name}}">
        {{/if}}
    <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">
            <ul>
                <li>Destination type:{{this.destinationType}}</li>
                <li>Population:{{this.population}}</li>
                <li>Average_rating:{{this.averageRating}}</li>
                {{#each this.alternateNames}}
                <ul>
                    <li>Alternate Names:{{this}}</li>
            </ul>
                {{/each}}
        </ul>
        </p>
        <form action="/delete/{{this.id}}/toVisit" method="POST">
            <button type="submit" class="btn btn-warning">Delete place</button>
        </form>
        </div>
    </div>
    {{/each}}
</div>
    
    
    



